body {
  font-size: 16px;
}

.navbar-title {
  font-weight: 650;
}

main.content {
  max-width: 1180px;
}

table {
  font-size: 0.94rem;
}

.cell-output-display {
  overflow-x: auto;
}

pre.sourceCode {
  overflow-x: auto;
}

pre.sourceCode code {
  white-space: pre;
}

code {
  white-space: pre-wrap;
}

.callout {
  border-radius: 6px;
}
